header

  nav
    float: right
    margin: 20px 245px 30px 0
    @media (max-width: 773px)
      margin: 20px 100px 30px 0
    @media (max-width: 500px)
      margin: 20px 10px 30px 0

    a
      display: inline-block
      margin-left: 10px

      color: $kingorange
      Font:
        size: 14px
        weight: 700
      text-transform: uppercase

      &:hover
        color: $kingblue


  .head-logo
    height: 50px
    width: auto
    margin: 20px 0 10px 245px
    @media (max-width: 773px)
      height: 40px
      margin: 20px 0 10px 100px
    @media (max-width: 500px)
      margin: 20px 0 10px 10px

  .slack-logo
    height: 50px
    width: auto
    margin: 0 0
    @media (max-width: 773px)
      height: 40px
