<section id="contact" class="hide">
<div class="info-container">
  <div class="info-center">
  <h2>Contact Me</h2>
  
    <div>
    <form method="POST" action="https://formspree.io/chris.oneupking@gmail.com">
      <input type="text" name="name" placeholder="Name *">
      <input type="text" name="company" placeholder="Company">
      <input type="email" name="_replyto" placeholder="E-Mail *">
      <input type="text" name="phone" placeholder="Phone">
      <input type="text" name="inquiring" placeholder="Inquiring *">
      <textarea name="message" placeholder="Message *"></textarea>
      <input type="submit" value="Send" class="send-cta">
    </form>
    </div>

  </div>
</div>
</section>
