<footer>
  <div class="social-icon-container">
  <a href="https://www.facebook.com/Oneupkingcom-1720347571586552/" target="_blank" class="contact-social-icon">{% include icons/facebook.svg %}</a>
  <a href="https://twitter.com/oneupking" target="_blank" class="contact-social-icon">{% include icons/twitter.svg %}</a>
  <a href="https://www.youtube.com" target="_blank" class="contact-social-icon">{% include icons/youtube.svg %}</a>
  </div>

  <p>
    www.oneupking.com &#169 2016  |  Developer and Designer: Chris Nauslar, <a href="https://www.nausdesign.com" target="_blank">NausDesign</a>
  </p>
  <img src="assets/img/footer-color.png" class="footer-bar" alt="colors">

</footer>
