<section id="hero">
  <div class="ouk-text">
    <h1>ONE UP KING</h1>
    <h3> Challenge Yourself, Challenge Others,<br> Become a King!</h3>
    <p>
    Have a talent or Like to break records?<br>  Now you can show off your talent and challenge others<br> to beat your records and become the King, the<br> ONE UP KING!
    </p>
  </div>
  <div class="ouk-form">
    <form method="POST" action="https://formspree.io/MNauslar@gmail.com">
      <input type="email" name="_replyto" placeholder="Enter your email address">
      <input type="submit" value="SUBSCRIBE" class="send-cta">
    </form>
  </div>
  <div class="ouk-text">
    <p>
      Please subscribe, and be the first to be notified on the progress of One Up King.
    </p>
  </div>
</section>
