<section id="map" class="hide">
<div class="info-container">
  <div class="info-center">
  <h2>Progress Map</h2>
    <div class="step-container">
    <ul class="steps">
     <li class="step-one step"><div class="bubble">The idea "One Up King" was born!  The first step may of been the hardest,  it has took me a few years to really nail down everything I want this application to become.  I am now ready to share this with the world</div></li>
      <li class="step-two step"><div class="bubble">Gaining traction and building a fan base.  This means I need you!  I am gathering a mailing list and starting a newsletter for all my fans following this project.  Sign up and you will get the latest information on One UP King and it progress.</div></li>
      <li class="step-three step"><div class="bubble">The long road to success,  this step all relies on the fan base.  The faster it grows the faster I can start application development.  This is currently a bootstrapped project,  If the fan base grows I will be looking at bringing on a team and looking for investors.</div></li>
      <li class="step-four step"><div class="bubble">Beta launch,  at this step I will be launching One Up King Beta web app.  So make sure you are on the application list to be selected for the launch. </div></li>
      <li class="step-five step"><div class="bubble">One Up King release to the public,  at this launch I also hope to include web and mobile applications that will work real-time with each other. </div></li>
   </ul>
   </div>
  </div>
</div>
</section>
