<section id="map" class="hide">
<div class="info-container">
  <div class="progress-map">
  <h1>Hello World</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mauris metus, condimentum in porta id, consequat vel quam. Vestibulum vel accumsan ipsum. Aenean dictum sollicitudin urna, porta rutrum mi dictum non. Nullam consectetur vitae orci ac finibus. Praesent et massa ex. Fusce ultrices tortor ex, non pulvinar risus tempus eu. Sed sed pharetra sapien, vel feugiat ipsum. Maecenas convallis, justo sollicitudin consequat rhoncus, mi leo blandit risus, eu lobortis nulla ipsum ac enim.
  </p>
  </div>
</div>
</section>
