.col-wrapper
  @include outer-container
  padding: 50px 0 0 0
  @media (max-width: 500px)
    padding: 0 0

.col-1
  @include span-columns(6)
  @include shift(2)
  max-width: 600px
  @media (max-width: 770px)
    @include shift(1.7)
  @media (max-width: 500px)
    @include span-columns(12)
    @include shift(1)
    max-width: 350px
  @media (max-width: 376px)
    max-width: 320px

.col-2
  @include span-columns(4)
  @media (max-width: 500px)
    @include span-columns(12)
    @include shift(4.7)

/*.box-wrapper
  @include outer-container(100%)
  @include shift(2.6)
  padding-top: 116px

  .box-1
    @include span-columns(1)
    @include reset-display
    background-color: transparentize($kingblue, 0.4)
    height: 200px
    width: 200px

  .box-2
    @include span-columns(1)
    @include reset-display
    background-color: transparentize($kingblue, 0.4)
    height: 200px
    width: 200px

  .box-3
    @include span-columns(1)
    @include reset-display
    background-color: transparentize($kingblue, 0.4)
    height: 200px
    width: 200px

  .box-4
    @include span-columns(1)
    @include reset-display
    background-color: transparentize($kingblue, 0.4)
    height: 200px
    width: 200px
